
[Desktop Entry]
Type=Application
Exec=/home/user/Music/start_music.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=music
Name=music
Comment[en_US]=
Comment=
